name: Deploy to InfinityFree via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4.3.3
      with:
        server: ${{ secrets.INFINITYFREE_FTP_SERVER }}
        username: ${{ secrets.INFINITYFREE_FTP_USERNAME }}
        password: ${{ secrets.INFINITYFREE_FTP_PASSWORD }}
        server-dir: /htdocs/
        local-dir: ./
        protocol: ftp
